*{
    margin: 0;
    padding: 0;
}

.container{
    width: 70%;
    height: 100%;
    display: flex;
    position: relative;
    left: 15%;
}
.tr .list{
    display: inline-block;
}
.tr{
    width: 28%;
    height: 100vh;
}
.list{
    position: relative;
    left: 2%;
    width: 70%;
    height: 100vh;
    padding-top: 43px;
}
#title{
    color: rgb(255, 196, 0);
    font-size: 2rem;
    margin: 10px;
}
hr{
    border:1px black solid ;
}
ul{
    margin: 10px;
    list-style-type: none;
}
li{
    padding-left: 30px;
    font-size: large;
    margin-bottom: 20px;
}
li a{
    text-decoration: none;
    font-size: large;
    color: black;
    position: relative;
}
li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: orange;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

li a:hover::after {
    transform: scaleX(1);
}
.productttt {
    height: 270px;
    display: flex;
    align-items: center;
    border-bottom: gray 1px solid;
}

.productttt img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

.details {
    margin-left: 20px;
}

.details p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.details #name {
    font-weight: bold;
}

.details #price {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 115, 0);
}

.details #sales {
    margin-left: 10px;
    font-size: 14px;
    color: gray;
}
.details a{
    text-decoration: none;
    color: black;
}